{
  "arrowParens": "always",
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "parser": "typescript",
  "printWidth": 80,
  "quoteProps": "as-needed",
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "singleAttributePerLine": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
