.author-handle {
  --opacity: 0.5;
  color: rgba(var(--fg-color), var(--opacity));
  font-size: 0.75em;
  line-height: 1.25;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  // フォローイングドット
  [data-is-following="true"] &::before {
    background-image: radial-gradient(
      circle at center,
      rgba(var(--fg-color), var(--opacity)) 37.5%,
      rgba(var(--fg-color), 0) 37.5%
    );
    content: "";
    display: inline-block;
    margin-right: 0.5em;
    width: 0.375em;
    height: 0.75em;
  }
}
