.button,
.button--invert,
.button--bordered,
.button--important,
.button--bordered--important,
.button--plane {
  border: 1px solid transparent;
  border-radius: var(--border-radius-middle);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 0.5em;
  padding: 0.5em 1em;
  user-select: none;

  & > .svg-icon {
    fill: rgb(var(--bg-color));
    font-size: 0.875em;
    pointer-events: none;
  }

  & > span {
    font-weight: bold;
    line-height: var(--line-height-high);
    overflow: hidden;
    pointer-events: none;
    word-break: break-word;
  }

  &:disabled,
  &[disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.button {
  background-color: rgb(var(--fg-color), 0.875);
  color: rgb(var(--bg-color));
  &:focus, &:hover {
    background-color: rgb(var(--fg-color));
  }
}

.button--invert {
  background-color: rgb(var(--bg-color), 0.875);
  color: rgb(var(--fg-color));
  &:focus, &:hover {
    background-color: rgb(var(--bg-color));
  }
}

.button--bordered {
  background-color: rgb(var(--bg-color), 0.25);
  border: 1px solid rgb(var(--fg-color), 0.25);
  color: rgb(var(--fg-color), 0.75);
  &:focus, &:hover {
    border-color: rgb(var(--fg-color), 0.375);
    color: rgb(var(--fg-color));

    & > .svg-icon {
      fill: rgb(var(--fg-color));
    }
  }

  & > .svg-icon {
    fill: rgb(var(--fg-color), 0.75);
  }
}

.button--important {
  background-color: rgb(var(--notice-color), 0.875);
  color: rgb(var(--notice-fg-color));

  .svg-icon {
    fill: rgb(var(--notice-fg-color), 0.875);
  }

  &:focus, &:hover {
    background-color: rgb(var(--notice-color));
  }
}

.button--bordered--important {
  &[data-enabled="true"] {
    background-color: rgb(var(--notice-color), 0.875);
    color: rgb(var(--notice-fg-color));
    &:focus, &:hover {
      background-color: rgb(var(--notice-color));
    }
  }
  &[data-enabled="false"] {
    background-color: transparent;
    border-color: rgb(var(--notice-color), 0.875);
    color: rgb(var(--notice-color), 0.875);

    .svg-icon {
      fill: rgb(var(--notice-color), 0.875);
    }

    &:focus, &:hover {
      border-color: rgb(var(--notice-color));
      color: rgb(var(--notice-color));

      .svg-icon {
        fill: rgb(var(--notice-color));
      }
    }
  }
}

.button--plane {
  color: rgb(var(--fg-color), 0.875);
  &:focus, &:hover {
    color: rgb(var(--fg-color));

    & > .svg-icon {
      fill: rgb(var(--fg-color));
    }
  }

  & > .svg-icon {
    fill: rgb(var(--fg-color), 0.875);
  }
}

.button--filebox {
  & > input {
    display: contents;
    visibility: hidden;
  }
}

.button-is-wide {
  border-radius: unset;
}

.button__suffix {
  color: rgb(var(--fg-color), 0.5);
  font-size: 0.875em;
  font-weight: bold;
  line-height: var(--line-height-high);
  margin-left: auto;
  overflow: hidden;
  word-break: break-all;
}

.group-buttons {
  display: flex;
  align-items: center;

  & > .button,
  & > .button--bordered,
  & > .button--important,
  & > .button--plane {
    &:not(:last-child) {
      border-right-style: none;
    }
    &:first-child:not(:last-child) {
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
    }
    &:last-child:not(:first-child) {
      border-top-left-radius: unset;
      border-bottom-left-radius: unset;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: unset;
    }
  }
  & > .button--bordered,
  & > .button--plane {
    border-color: rgb(var(--fg-color), 0.25);
  }
}
