.checkboxes,
.radios {
  &[data-layout="horizontal"] {
    display: flex;
  }
  &[data-layout="vertical"] {
    display: flex;
    flex-direction: column;
  }
  &[data-layout="vertical-2columns"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  & > .checkbox,
  & > .radio {
    background-clip: padding-box;
    border: 1px solid rgb(var(--fg-color), 0.25);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    position: relative;
    &[data-checked="true"] {
      background-color: rgb(var(--accent-color), 0.25);
    }
    &[data-disabled="true"] {
      filter: grayscale(1.0);
      opacity: 0.5;
      pointer-events: none;
    }

    // Chrome のバリデーションメッセージ対応
    & > input {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 1px;
      height: 1px;
    }

    & > .svg-icon {
      fill: rgb(var(--accent-color), 0.5);
      margin-right: 0.5rem;
    }
    &[data-checked="true"] > .svg-icon {
      fill: rgb(var(--accent-color));
    }

    & > span {
      color: rgb(var(--fg-color), 0.75);
      font-weight: bold;
      line-height: var(--line-height-middle);
      word-break: break-all;
    }
    &[data-checked="true"] > span,
    &:focus > span,
    &:hover > span {
      color: rgb(var(--fg-color));
    }
  }
  &[data-layout="horizontal"] {
    & > .checkbox,
    & > .radio {
      flex-grow: 1;
      &:first-child {
        border-top-left-radius: var(--border-radius-middle);
        border-bottom-left-radius: var(--border-radius-middle);
      }
      &:last-child {
        border-top-right-radius: var(--border-radius-middle);
        border-bottom-right-radius: var(--border-radius-middle);
      }
      &:not(:first-child) {
        border-left-color: rgb(var(--fg-color), 0.125);
      }
      &:not(:last-child) {
        border-right-style: none;
      }
    }
  }
  &[data-layout="vertical"] {
    & > .checkbox,
    & > .radio {
      &:first-child {
        border-top-left-radius: var(--border-radius-middle);
        border-top-right-radius: var(--border-radius-middle);
      }
      &:last-child {
        border-bottom-left-radius: var(--border-radius-middle);
        border-bottom-right-radius: var(--border-radius-middle);
      }
      &:not(:first-child) {
        border-top-color: rgb(var(--fg-color), 0.125);
      }
      &:not(:last-child) {
        border-bottom-style: none;
      }
    }
  }
  &[data-layout="vertical-2columns"] {
    & > .checkbox,
    & > .radio {
      border-color: rgb(var(--fg-color), 0.125);
      border-right-style: none;
      border-bottom-style: none;
      &:nth-child(even) {
        border-right: 1px solid rgb(var(--fg-color), 0.25);
      }
      &:nth-last-child(1),
      &:nth-last-child(2) {
        border-bottom: 1px solid rgb(var(--fg-color), 0.25);
      }
      &:first-child {
        border-radius: var(--border-radius-middle) 0 0 0;
      }
      &:nth-child(2) {
        border-radius: 0 var(--border-radius-middle) 0 0;
      }
      &:nth-last-child(2) {
        border-radius: 0 0 0 var(--border-radius-middle);
      }
      &:nth-last-child(1) {
        border-radius: 0 0 var(--border-radius-middle) 0;
      }
    }
  }
}
.checkboxes-is-wide,
.radios-is-wide {
  & > .checkbox,
  & > .radio {
    border-radius: 0 !important;
    border-color: transparent !important;
  }
  &[data-layout="horizontal"] {
    & > .checkbox,
    & > .radio {
      border-right-style: none;
      &:first-child {
        border-left-style: none;
      }
    }
  }
  &[data-layout="vertical"] {
    & > .checkbox,
    & > .radio {
      border-left-style: none;
      border-right-style: none;
    }
  }
  &[data-layout="vertical-2columns"] {
    & > .checkbox,
    & > .radio {
      &:nth-child(odd) {
        border-left-style: none;
      }
      &:nth-child(even) {
        border-right-style: none;
      }
      &:nth-last-child(1),
      &:nth-last-child(2) {
        border-bottom-style: none;
      }
      &:first-child {
        border-radius: unset;
      }
      &:nth-child(2) {
        border-radius: unset;
      }
      &:nth-last-child(2) {
        border-radius: unset;
      }
      &:nth-last-child(1) {
        border-radius: unset;
      }
    }
  }
}
