.textarea,
.textbox {
  --color: var(--fg-color);

  &:focus {
    --color: var(--accent-color);
  }

  background-color: rgba(var(--color), 0.125);
  border-radius: var(--border-radius);
  color: rgb(var(--fg-color));
  line-height: 1.5;
  padding: 0.5rem 0.5rem;

  &::placeholder {
    color: rgba(var(--color), 0.5);
  }
}

.textarea {
  word-break: break-word;
  @include scroll-bar;
}
