.icon-button {
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 0.5em;
  margin: -0.75em;
  padding: 0.75em;
  &:focus, &:hover {
    & > .svg-icon {
      fill: rgb(var(--fg-color), 1);
    }
    & > span {
      color: rgb(var(--fg-color), 1);
    }
  }

  & > .svg-icon {
    fill: rgba(var(--fg-color), 0.5);
    font-size: 1em;
  }

  & > span {
    color: rgba(var(--fg-color), 0.5);
    font-size: 0.875em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
