.labels {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.5em;
  &:empty {
    display: contents;
  }

  &__harmful-label,
  &__labelers-label,
  &__custom-label,
  & > div {
    border: 1px solid transparent;
    border-radius: var(--border-radius-middle);
    display: flex;
    align-items: center;
    grid-gap: 0.25em;
    padding: 0.25em 0.5em;

    & > .svg-icon {
      fill: var(--color);
      font-size: 0.875em;
    }

    & > span {
      color: var(--color);
      font-weight: bold;
      line-height: var(--line-height-low);
      user-select: none;
      word-break: break-all;
    }
  }

  // ラベラー
  &__labeler {
    --color: rgb(var(--share-color), var(--alpha, 1.0));
    background-color: var(--share-color-0125);
  }

  // 有害なラベル
  &__harmful-label {
    --color: rgb(var(--notice-color), var(--alpha, 1.0));
    background-color: var(--notice-color-0125);
  }

  // ラベラーによるラベル
  &__labelers-label {
    --color: rgb(var(--share-color), var(--alpha, 1.0));
    background-color: var(--share-color-0125);
    border-color: var(--share-color-025);
    &:focus,
    &:hover {
      --alpha: 1.0;
    }
  }

  // カスタムラベル
  &__custom-label {
    --color: rgb(var(--fg-color), var(--alpha, 1.0));
    background-color: var(--fg-color-0125);
  }
}
