.labels {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 0.5rem;
  font-size: 0.875rem;

  & > .svg-icon {
    fill: rgb(var(--notice-color));
  }

  &__item {
    color: rgb(var(--notice-color));
    font-weight: bold;
    word-break: break-word;
  }
}
