.labels,
.custom-labels {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 0.5rem;
  user-select: none;

  & > .svg-icon {
    fill: rgb(var(--color));
  }

  &__message {
    color: rgb(var(--color));
    font-weight: bold;
  }

  &__item {
    background-color: rgb(var(--color), 0.25);
    color: rgb(var(--color));
    font-weight: bold;
    padding: 0.25rem;
    word-break: break-word;
  }
}
.labels {
  --color: var(--notice-color);
}
.custom-labels {
  --color: var(--fg-color);
}
