.list-menu {
  display: flex;
  flex-direction: column;

  button {
    --icon-color: var(--fg-color);
    --alpha: 0.875;
    border-bottom: 1px solid var(--fg-color-025);
    cursor: pointer;
    display: grid;
    align-items: center;
    grid-gap: 1em;
    grid-template-columns: auto 1fr auto;
    padding: 0.625em 1em;
    &:focus, &:hover {
      --alpha: 1.0;
    }

    & > .svg-icon {
      fill: rgb(var(--icon-color), var(--alpha));
    }

    & > span {
      color: rgb(var(--fg-color), var(--alpha));
      font-weight: bold;
      line-height: 1.25;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
