.list-menu {
  color: rgb(var(--fg-color));
  display: flex;
  flex-direction: column;
  grid-gap: 1px;
  padding: var(--border-radius) 0;
  user-select: none;

  &__header {
    font-size: 0.875rem;
    font-weight: bold;
    overflow: hidden;
    padding: 0.25rem 1rem 0.75rem 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:not(:first-child) {
      padding-top: 0.75rem;
    }

    & > .svg-icon {
      fill: rgb(var(--fg-color), 0.5);
    }
  }

  & > a,
  & > button,
  & > &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: 0.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    &[data-selected="true"] {
      color: rgb(var(--accent-color));
    }
    &:focus, &:hover {
      background-color: var(--accent-color-025);
    }
    &:disabled {
      cursor: default;
      opacity: 0.5;
      &:focus, &:hover {
        background-color: unset;
      }
    }

    & > .svg-icon {
      fill: rgb(var(--accent-color));
    }
    & > .svg-icon--feed {
      fill: rgb(var(--accent-color));
    }
    & > .svg-icon--at,
    & > .svg-icon--post {
      fill: rgb(var(--post-color));
    }
    & > .svg-icon--repost,
    & > .svg-icon--quoteRepost {
      fill: rgb(var(--share-color));
    }
    & > .svg-icon--like {
      fill: rgb(var(--like-color));
    }
    & > .svg-icon--contentFiltering,
    & > .svg-icon--person,
    & > .svg-icon--personOff,
    & > .svg-icon--remove,
    & > .svg-icon--volumeOn,
    & > .svg-icon--volumeOff,
    & > .svg-icon--wordMute {
      fill: rgb(var(--notice-color));
    }
  }

  & > hr {
    border-bottom: 1px solid var(--fg-color-0125);
    margin: 0 0.5rem;
  }
}
