.notification-message {
  background-color: rgba(var(--notice-color), 0.25);
  border-radius: var(--border-radius);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 0.25em 0.5em;
  padding: 0.5em 1em;

  & > .svg-icon {
    fill: rgb(var(--notice-color));
  }

  &__text {
    line-height: 1.25;
  }

  &__item {
    color: rgb(var(--notice-color));
    line-height: 1.25;
    text-transform: capitalize;
    word-break: break-word;
  }
}
