.pulldown-button {
  background-color: rgba(var(--fg-color), 0.0625);
  border: 1px solid rgba(var(--fg-color), 0.125);
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  grid-gap: 0.5em;
  padding: 0.5em 1em;
  position: relative;

  & > span {
    color: rgba(var(--fg-color), 0.5);
    font-weight: bold;
    line-height: var(--line-height);
    word-break: break-word;
  }

  & > .svg-icon {
    fill: rgba(var(--fg-color), 0.25);
    margin-left: auto;
  }

  & > menu {
    background-color: rgb(var(--fg-color));
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    display: none;
    flex-direction: column;
    grid-gap: 0.125em;
    padding-bottom: 0.5em;
    position: absolute;
    left: -1px;
    top: 100%;
    z-index: 1;
    width: calc(100% + 2px);

    & > a {
      cursor: pointer;
      display: flex;
      align-items: center;
      grid-gap: 0.5em;
      padding: 0.5em 1em;
      &:hover, &:focus {
        background-color: rgba(var(--accent-color), 0.25);
      }

      & > .svg-icon {
        fill: rgb(var(--bg-color));
      }

      & > span {
        color: rgb(var(--bg-color));
      }
    }

    & > hr {
      background-color: rgba(var(--bg-color), 0.25);
      height: 1px;
    }
  }
  &:hover {
    border-color: rgba(var(--fg-color), 0.25);

    & > .svg-icon {
      fill: rgba(var(--fg-color), 0.5);
    }
  }
  &:focus {
    background-color: rgb(var(--fg-color));
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    & > span {
      color: rgba(var(--bg-color), 0.5);
    }

    & > .svg-icon {
      fill: rgba(var(--bg-color), 0.5);
    }

    & > menu {
      display: flex;
    }
  }
}
