.quad-images {
  aspect-ratio: var(--image-aspect-ratio);
  display: grid;
  grid-gap: 2px;
  overflow: hidden;
  position: relative;
  width: 100%;
  &[data-number-of-images="1"] {
    & > .quad-image  > .thumbnail > img {
      border-radius: var(--border-radius);
    }
  }
  &[data-number-of-images="2"] {
    grid-template-areas: "a b";
    & > .quad-image:nth-child(1) {
      grid-area: a;

      & > .thumbnail > img {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
      }
    }
    & > .quad-image:nth-child(2) {
      grid-area: b;

      & > .thumbnail > img {
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
      }
    }
  }
  &[data-number-of-images="3"] {
    grid-template-areas: "a b" "a c";
    & > .quad-image:nth-child(1) {
      grid-area: a;

      & > .thumbnail > img {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
      }
    }
    & > .quad-image:nth-child(2) {
      grid-area: b;

      & > .thumbnail > img {
        border-radius: 0 var(--border-radius) 0 0 ;
      }
    }
    & > .quad-image:nth-child(3) {
      grid-area: c;

      & > .thumbnail > img {
        border-radius: 0 0 var(--border-radius) 0;
      }
    }
  }
  &[data-number-of-images="4"] {
    grid-template-areas: "a b" "c d";
    & > .quad-image:nth-child(1) {
      grid-area: a;

      & > .thumbnail > img {
        border-radius: var(--border-radius) 0 0 0;
      }
    }
    & > .quad-image:nth-child(2) {
      grid-area: b;

      & > .thumbnail > img {
        border-radius: 0 var(--border-radius) 0 0;
      }
    }
    & > .quad-image:nth-child(3) {
      grid-area: c;

      & > .thumbnail > img {
        border-radius: 0 0 0 var(--border-radius);
      }
    }
    & > .quad-image:nth-child(4) {
      grid-area: d;

      & > .thumbnail > img {
        border-radius: 0 0 var(--border-radius) 0;
      }
    }
  }

  & > .quad-image {
    overflow: hidden;

    & > .thumbnail {
      position: relative;
      height: 100%;

      & > img {
        aspect-ratio: var(--image-aspect-ratio);
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
