.selectbox {
  display: block;
  position: relative;

  & > select {
    background-color: rgb(var(--bg-color), 0.25);
    border: 1px solid rgb(var(--fg-color), 0.25);
    border-radius: var(--border-radius-middle);
    color: rgb(var(--fg-color), 0.75);
    cursor: pointer;
    display: block;
    font-weight: bold;
    line-height: var(--line-height-high);
    padding: 0.5em 2.5em 0.5em 1em;
    width: 100%;
    &:focus, &:hover {
      border-color: rgb(var(--fg-color), 0.375);
      color: rgb(var(--fg-color));
    }

    & > option {
      background-color: rgb(var(--bg-color));
      color: rgb(var(--fg-color));
    }
  }

  &::after {
    background-color: rgb(var(--fg-color), 0.5);
    color: rgb(var(--fg-color));
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -0.5em;
    mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="transparent" stroke="%23000000" d="M0,6 L12,18 L24,6" /></svg>') no-repeat center center;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 0.75em;
    width: 1em;
    height: 1em;
  }
  &:focus::after, &:hover::after {
    background-color: rgb(var(--fg-color));
  }
}
.selectbox-is-wide {
  & > select {
    border-left-style: none;
    border-right-style: none;
    border-radius: unset;
  }
}
