.settings-section-container {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  padding: 2rem;
}

.settings-section {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.settings-section__header,
.settings-section__sub-header {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  line-height: 1.25;
}

.settings-section__header {
  font-size: 1.25rem;
  font-weight: bold;
}

.settings-section__sub-header {
  font-size: 1.125rem;
}

.settings-section__body {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;

  input[type="text"],
  input[type="url"] {
    width: 100%;
  }
}
