.tab {
  background-color: rgb(var(--bg-color), var(--main-area-opacity));
  border-bottom: 1px solid rgb(var(--fg-color), 0.25);
  display: flex;
  padding: 0.125rem;
  min-height: 3rem;
  max-height: 3rem;

  &__button {
    border-radius: var(--border-radius);
    color: rgb(var(--fg-color), 0.75);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-weight: bold;
    grid-gap: 0.5rem;
    padding: 0.5rem 0;
    min-height: 2.5rem;
    text-align: center;

    & > .svg-icon {
      fill: rgb(var(--fg-color), 0.75);
    }

    &.router-link-active {
      background-color: rgb(var(--accent-color), 0.25);
    }
    &:focus, &:hover {
      & > span {
        color: rgb(var(--fg-color));
      }

      & > .svg-icon {
        fill: rgb(var(--fg-color));
      }
    }
  }
}
