.tab {
  background-color: rgb(var(--bg-color));
  border-bottom: 1px solid rgba(var(--fg-color), 0.25);
  display: flex;

  &__button,
  &__button--outline {
    color: rgba(var(--fg-color), 0.75);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0.75rem 0;
    min-height: 3rem;
    text-align: center;
    &.router-link-active {
      background-color: rgba(var(--accent-color), 0.25);
    }
    &:focus, &:hover {
      color: rgb(var(--fg-color));
    }
  }
  &__button {
    & > .svg-icon {
      fill: rgba(var(--fg-color), 0.5);
    }
    &:focus, &:hover {
      & > .svg-icon {
        fill: rgb(var(--fg-color));
      }
    }
  }
  &__button--outline {
    & > .svg-icon {
      fill: transparent;
      stroke: rgba(var(--fg-color), 0.5);
      stroke-width: 2px;
    }
    &:focus, &:hover {
      & > .svg-icon {
        fill: transparent;
        stroke: rgb(var(--fg-color));
        stroke-width: 2px;
      }
    }
  }
}
