.tab {
  display: flex;
  min-height: 3rem;
  max-height: 3rem;

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-grow: 1;
    grid-gap: 0.5rem;
    overflow: hidden;
    padding: 0.5rem 0;
    position: relative;
    min-height: 2.5rem;

    & > span {
      color: rgb(var(--fg-color), 0.5);
      line-height: var(--line-height-high);
      overflow: hidden;
      pointer-events: none;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & > .svg-icon {
      fill: rgb(var(--fg-color), 0.5);
      pointer-events: none;
    }

    &__badge {
      background-color: rgb(var(--bg-sub-color));
      border-radius: 2px;
      font-size: 0.75rem;
      line-height: unset !important;
      padding: 0.125rem 0.25rem;
      pointer-events: none;
      position: absolute;
      bottom: 2px;
      right: 2px;
    }

    &[data-disabled="true"] {
      & > span {
        color: rgb(var(--fg-color), 0.25);
      }

      & > .svg-icon {
        fill: rgb(var(--fg-color), 0.25);
      }
    }
    &:focus, &:hover {
      & > span {
        color: rgb(var(--fg-color));
      }

      & > .svg-icon {
        fill: rgb(var(--fg-color));
      }
    }
    &.router-link-active,
    &[data-focused="true"] {
      & > span {
        color: rgb(var(--fg-color));
        font-weight: bold;
      }

      & > .svg-icon {
        fill: rgb(var(--fg-color));
      }
    }
  }
}
