.tab {
  border-bottom: 1px solid rgba(var(--fg-color), 0.25);
  display: flex;

  & > .tab-button,
  & > .tab-button--outline {
    border-bottom: 2px solid transparent;
    color: rgba(var(--fg-color), 0.5);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0.75rem 0.5rem;
    width: 33.333%;
    min-height: 3rem;
    text-align: center;
    &:not(:last-child) {
      border-right: 1px solid rgba(var(--fg-color), 0.25);
    }
    &[data-selected="true"] {
      border-bottom: 2px solid rgb(var(--accent-color));
    }
    &:focus, &:hover {
      color: rgb(var(--fg-color));
    }
  }
  & > .tab-button {
    & > .svg-icon {
      fill: rgba(var(--fg-color), 0.5);
    }
    &:focus, &:hover {
      & > .svg-icon {
        fill: rgb(var(--fg-color));
      }
    }
  }
  & > .tab-button--outline {
    & > .svg-icon {
      fill: transparent;
      stroke: rgba(var(--fg-color), 0.5);
      stroke-width: 2px;
    }
    &:focus, &:hover {
      & > .svg-icon {
        fill: transparent;
        stroke: rgb(var(--fg-color));
        stroke-width: 2px;
      }
    }
  }
}
