.textlink,
.textlink--icon,
.textlink--underline {
  color: rgb(var(--accent-color));
  cursor: pointer;
  line-height: var(--line-height-low);

  & > .svg-icon {
    fill: rgb(var(--accent-color));
  }

  & > span {
    line-height: var(--line-height-low);
  }
}

.textlink {
  &:focus > span, &:hover > span {
    text-decoration: underline;
    text-underline-offset: 0.25em;
  }
}

.textlink--icon {
  display: inline-flex;
  align-items: center;
  grid-gap: 0.5rem;

  &:focus, &:hover {
    filter: brightness(1.25);
  }
}

.textlink--underline {
  & > span {
    text-decoration: underline;
    text-underline-offset: 0.25em;
  }
  &:focus > span, &:hover > span {
    text-decoration: unset;
  }
}
