.textlabel,
.textlabel--alert {
  border-radius: var(--border-radius-middle);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 0.25em 0.5em;

  &__text,
  &__text--alert {
    display: flex;
    align-items: center;
    grid-gap: 0.25em 0.5em;
    line-height: var(--line-height-high);
  }

  &__item {
    line-height: var(--line-height-high);
    word-break: break-word;
  }
}
.textlabel {
  &__text > .svg-icon {
    fill: rgb(var(--fg-color));
  }

  &__text--alert {
    color: rgb(var(--notice-color));

    & > .svg-icon {
      fill: rgb(var(--notice-color));
    }
  }

  &__item {
    color: rgb(var(--fg-color));
  }
}
