.textlink,
.textlink--icon {
  color: rgb(var(--accent-color));
  cursor: pointer;
  line-height: 1.25;

  & > .svg-icon {
    fill: rgb(var(--accent-color));
  }

  & > span {
    line-height: 1.25;
  }

  &:focus, &:hover {
    filter: hue-rotate(45deg);
  }
}
.textlink--icon {
  display: inline-flex;
  align-items: center;
  grid-gap: 0.5rem;
}
