.textarea,
.textbox {
  --color: var(--fg-color);

  &:focus {
    --color: var(--accent-color);
  }

  background-color: rgba(var(--color), 0.125);
  border-radius: var(--border-radius);
  color: rgb(var(--fg-color));
  line-height: 1.5;

  &::placeholder {
    color: rgba(var(--color), 0.625);
  }
}
.textarea {
  padding: 0.5rem;
  word-break: break-word;
  @include scroll-bar;
}
.textbox {
  padding: 0.5rem 1rem;
}
