.textlabel,
.textlabel--alert,
.textlabel--gray,
.textlabel--link,
.textlabel--warning {
  border-radius: var(--border-radius-middle);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-gap: 0.25em 0.5em;

  &__text,
  &__text--alert,
  &__text--gray,
  &__text--link,
  &__text--warning {
    display: flex;
    align-items: center;
    grid-gap: 0.25em 0.5em;
    line-height: var(--line-height-high);
  }

  &__item {
    line-height: var(--line-height-high);
    word-break: break-word;
  }
}
.textlabel {
  &__text > .svg-icon {
    fill: rgb(var(--fg-color));
  }

  &__text--alert {
    color: rgb(var(--notice-color));

    & > .svg-icon {
      fill: rgb(var(--notice-color));
    }
  }

  &__text--gray {
    color: rgb(var(--fg-color), 0.5);

    & > .svg-icon {
      fill: rgb(var(--fg-color), 0.5);
    }
  }

  &__text--link {
    --color: rgb(var(--accent-color), 0.875);
    color: var(--color);

    & > .svg-icon {
      fill: var(--color);
    }

    &:focus, &:hover {
      --color: rgb(var(--accent-color));
    }
  }

  &__text--warning {
    color: rgb(var(--pink-color));

    & > .svg-icon {
      fill: rgb(var(--pink-color));
    }
  }

  &__item {
    color: rgb(var(--fg-color));
  }
}
