.textlabel,
.textlabel--alert {
  border-radius: var(--border-radius);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 0.25em 0.5em;
  padding: 0.5em 1em;

  &__text {
    display: flex;
    align-items: center;
    grid-gap: 0.25em 0.5em;
    line-height: 1.375;
  }

  &__item {
    line-height: 1.375;
    word-break: break-word;
  }
}
.textlabel {
  background-color: rgba(var(--fg-color), 0.125);

  &__text > .svg-icon {
    fill: rgb(var(--fg-color));
  }

  &__item {
    color: rgb(var(--fg-color));
  }
}
.textlabel--alert {
  background-color: rgba(var(--notice-color), 0.25);

  .textlabel__text > .svg-icon {
    fill: rgb(var(--notice-color));
  }

  .textlabel__item {
    color: rgb(var(--notice-color));
  }
}
