.textarea,
.textbox {
  &:hover {
    --fg-color-025: var(--fg-color-0375);
  }
  &:focus {
    --fg-color-0125: var(--accent-color-0125);
    --fg-color-025: var(--accent-color-0375);
    --fg-color-05: var(--accent-color-075);
  }
  &[disabled] {
    border-style: none;
    background-image: repeating-linear-gradient(
      -45deg,
      rgb(255, 255, 255, 0.05) 0,
      rgb(255, 255, 255, 0.05) 0.5rem,
      rgb(0, 0, 0, 0.05) 0.5rem,
      rgb(0, 0, 0, 0.05) 1rem
    );
  }

  background-color: var(--fg-color-0125);
  border: 1px solid var(--fg-color-025);
  border-radius: var(--border-radius);
  color: rgb(var(--fg-color));
  line-height: var(--line-height);
  padding: 0.5rem 1rem;

  &::placeholder {
    color: var(--fg-color-05);
  }
}
.textarea {
  word-break: break-word;
  @include scroll-bar;
}
.textarea-is-wide,
.textbox-is-wide {
  border-left-style: none;
  border-right-style: none;
  border-radius: unset;
}
