.user-list {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  padding: 1rem;

  .user {
    display: grid;
    grid-template-columns: max-content 1fr min-content;
    grid-template-areas:
      "a d r"
      "a h h";
    grid-gap: 0.5rem 1rem;
    align-items: center;
    overflow: hidden;
  }

  .avatar {
    grid-area: a;
    @include avatar-link(3rem);
  }

  .display-name {
    grid-area: d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .handle {
    grid-area: h;
    color: rgba(var(--fg-color), 0.5);
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .relations {
    grid-area: r;
    display: flex;
    grid-gap: 1rem;
  }

  .you-following,
  .you-followed {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: bold;
  }

  .you-following {
    color: rgb(var(--accent-color));
  }

  .you-followed {
    color: rgb(var(--pink));
  }
}
