.textlink {
  color: rgb(var(--accent-color));
  &:focus, &:hover {
    filter: brightness(1.25);
  }
}

.textarea,
.textbox {
  --color: var(--fg-color);
  &:focus, &:hover {
    --color: var(--accent-color);
  }
  background-color: rgba(var(--color), 0.125);
  border: 1px solid transparent;
  border-bottom-color: rgb(var(--color));
  border-radius: 1px 1px 0 0;
  color: rgb(var(--color));
  line-height: 1.5;
  padding: 0.5rem 0.5rem;
  &::placeholder {
    color: rgba(var(--color), 0.5);
  }
}
.textarea {
  @include scroll-bar;
}

.button {
  --color: var(--fg-color);
  &:focus, &:hover {
    --color: var(--accent-color);
  }
  background-color: rgb(var(--color));
  border: 1px solid transparent;
  border-radius: 1px;
  color: rgb(var(--bg-color));
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 0.5em;
  font-weight: bold;
  line-height: 1.5;
  padding: 0.5em 1em;

  & > .svg-icon {
    fill: rgb(var(--bg-color));
    font-size: 0.75em;
  }
}

.popup-overlay {
  background-color: rgba(var(--fg-color), 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
}

.popup {
  background-color: rgb(var(--bg-color));
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  margin: 3rem;
  padding: 3rem;
  position: relative;
}

.popup-closer {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 4rem;
  height: 4rem;
  &:focus, &:hover {
    background-color: rgba(var(--fg-color), 0.125);
  }

  & > .svg-icon {
    fill: rgb(var(--fg-color));
  }
}
