// SEE: https://fonts.google.com/noto/specimen/Noto+Sans+JP?lang=ja_Jpan
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*,
* > * {
  line-height: 1;
}

:root {
  // フォントファミリー
  font-family:
    "Segoe UI",
    "system-ui",
    "Noto Sans JP",
    "Meiryo",
    "-apple-system",
    "BlinkMacSystemFont",
    Arial,
    Helvetica,
    sans-serif;

  // フォントサイズ
  font-size: 15px;
  &[data-font-size="small"] {
    font-size: 13px;
  }
  &[data-font-size="medium"] {
    font-size: 15px;
  }
  &[data-font-size="large"] {
    font-size: 17px;
  }

  // フォントのカーニング
  &[data-font-kerning="true"] {
    font-feature-settings: "palt";
  }

  // フォントのアンチエイリアス
  &[data-font-antialiasing="true"] {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

// デフォルトカラーテーマ
:root {
  @include color-theme-light;
}

// ダークモード用デフォルトカラーテーマ
@media (prefers-color-scheme: dark) {
  :root {
    @include color-theme-dark;
  }
}

// 各種カラーテーマ
// NOTICE: `:root` 以外でも使用
[data-color-theme="light"] { @include color-theme-light; }
[data-color-theme="lightGray"] { @include color-theme-light-gray; }
[data-color-theme="dark"] { @include color-theme-dark; }
[data-color-theme="darkGray"] { @include color-theme-dark-gray; }

// 各種変数
body {
  // 各機能の配色
  --accent-color: var(--cyan-dark-color);
  --notice-color: var(--red-color);
  --notice-fg-color: var(--white-color);
  --post-color: var(--cyan-color);
  --like-color: var(--pink-color);
  --label-color: var(--orange-color);
  --share-color: var(--green-color);
  --feed-color: var(--post-color);
  --list-color: var(--purple-color);
  --starter-pack-color: var(--like-color);
  --pinned-post-color: var(--yellow-color);

  // リストアイコンの配色
  --curate-list-color: var(--green-color);
  --mod-list-color: var(--red-color);
  --reference-list-color: var(--pink-color);
  --unknown-list-color: rgb(var(--fg-color), 0.5);

  --border-radius-small: 0.125em;
  --border-radius-middle: 0.25em;
  --border-radius-large: 0.5em;
  --line-height-low: 1.25;
  --line-height-middle: 1.375;
  --line-height-high: 1.5;
  --main-area-opacity: 1.0;
  --sp-menu-size: calc(100vw / 7);
  --sp-menu-height: calc(var(--sp-menu-size) + env(safe-area-inset-bottom));
}

body {
  background-attachment: fixed;
  background-color: rgb(var(--bg-color));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(var(--fg-color));
  font-optical-sizing: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  transition: background-color 500ms ease-out;
  user-select: none;
  @include scroll-bar("transparent");
}

::selection {
  background-color: rgb(var(--accent-color), 0.5);
}

img {
  vertical-align: middle;
}

p {
  display: flex;
  align-items: baseline;
  grid-gap: 0.5em;
  line-height: var(--line-height-high);
  word-break: break-all;
}

pre {
  margin: 0;
}

// iOS における font-size: 16px; 未満のフォームパーツにフォーカスするとビューポートがスケーリングされる仕様対策
input,
textarea {
  font-size: 18px;
  [data-font-size="small"] & {
    font-size: 16px;
  }
  [data-font-size="medium"] & {
    font-size: 18px;
  }
  [data-font-size="large"] & {
    font-size: 20px;
  }
}

video {
  vertical-align: middle;
}
