*, * > * {
  line-height: 1;
}

body {
  --border-radius: 1px;
  --image-aspect-ratio: 1 / 1; // 16 / 9;
  --main-area-opacity: 1.0;
  --top-border-width: 2px;

  background-attachment: fixed;
  background-color: rgb(var(--bg-color));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(var(--fg-color));
  font-feature-settings: "palt";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  @include scroll-bar();
}
body {
  @include color-theme-light;
}
@media (prefers-color-scheme: dark) {
  body {
    @include color-theme-dark;
  }
}
[data-color-theme="light"] {
  @include color-theme-light;
}
[data-color-theme="dark"] {
  @include color-theme-dark;
}
[data-color-theme="warm"] {
  @include color-theme-warm;
}
[data-color-theme="pink"] {
  @include color-theme-pink;
}
[data-color-theme="red"] {
  @include color-theme-red;
}
[data-color-theme="green"] {
  @include color-theme-green;
}
[data-color-theme="blue"] {
  @include color-theme-blue;
}
[data-color-theme="indigo"] {
  @include color-theme-indigo;
}

::selection {
  background-color: rgba(var(--accent-color), 0.5);
}

img {
  vertical-align: middle;
}

pre {
  margin: 0;
}
