// SEE: https://fonts.google.com/selection/embed
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

// タイ語結合記号によるZalgo文字列対策としてタイ語を外部フォント化
@font-face {
  font-family: "IBM Plex Sans Thai";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsansthai/v11/m8JPje1VVIzcq1HzJq2AEdo2Tj_qvLqMHdYgR8BKU4cX.woff2) format("woff2");
  unicode-range: U+02D7, U+0303, U+0331, U+0E01-0E5B, U+200C-200D, U+25CC;
}

*,
* > * {
  line-height: 1;
}

:root {
  // フォントファミリー
  font-family:
    "IBM Plex Sans Thai",
    InterVariable,
    "system-ui",
    "-apple-system",
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";

  // フォントサイズ
  font-size: 15px;
  &[data-font-size="small"] {
    font-size: 13px;
  }
  &[data-font-size="medium"] {
    font-size: 15px;
  }
  &[data-font-size="large"] {
    font-size: 17px;
  }

  // フォントのカーニング
  &[data-font-kerning="true"] {
    font-feature-settings: "palt";
  }

  // フォントのアンチエイリアス
  &[data-font-antialiasing="true"] {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

// デフォルトカラーテーマ
:root {
  @include color-theme-light;
  color-scheme: light;
}

// ダークモード用デフォルトカラーテーマ
@media (prefers-color-scheme: dark) {
  :root {
    @include color-theme-dark;
    color-scheme: dark;
  }
}

// 各種カラーテーマ
// NOTICE: `:root` 以外でも使用
:root,
.color-theme-list__box {
  &[data-color-theme="light"] {
    @include color-theme-light;
    color-scheme: light;
  }
}
:root,
.color-theme-list__box {
  &[data-color-theme="lightGray"] {
    @include color-theme-light-gray;
    color-scheme: light;
  }
}
:root,
.color-theme-list__box {
  &[data-color-theme="dark"] {
    @include color-theme-dark;
    color-scheme: dark;
  }
}
:root,
.color-theme-list__box {
  &[data-color-theme="darkGray"] {
    @include color-theme-dark-gray;
    color-scheme: dark;
  }
}

// 各種変数
body {
  // 各機能の配色
  --accent-color: var(--cyan-dark-color);
  --notice-color: var(--red-color);
  --notice-fg-color: var(--white-color);
  --post-color: var(--cyan-color);
  --like-color: var(--pink-color);
  --label-color: var(--orange-color);
  --share-color: var(--green-color);
  --bookmark-color: var(--cyan-color);
  --feed-color: var(--post-color);
  --feed-interaction-color: var(--pink-color);
  --list-color: var(--purple-color);
  --starter-pack-color: var(--like-color);
  --pinned-post-color: var(--yellow-color);

  // リストアイコンの配色
  --curate-list-color: var(--green-color);
  --mod-list-color: var(--red-color);
  --reference-list-color: var(--pink-color);
  --unknown-list-color: rgb(var(--fg-color), 0.5);

  --border-radius-small: 0.125em;
  --border-radius-middle: 0.25em;
  --border-radius-large: 0.5em;
  --line-height-low: 1.25;
  --line-height-middle: 1.375;
  --line-height-high: 1.5;
  --main-area-opacity: 1.0;
  --sp-menu-size: calc(100vw / 7);
  --sp-menu-height: calc(var(--sp-menu-size) + env(safe-area-inset-bottom));
}

body {
  background-attachment: fixed;
  background-color: rgb(var(--bg-color));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(var(--fg-color));
  font-optical-sizing: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  transition: background-color 500ms ease-out;
  user-select: none;
  @include scroll-bar("transparent");
}

// NOTICE: テキストの選択色を変更したい場合は以下を修正
// ::selection {
//   background-color: rgb(var(--notice-color), 0.5);
// }

img,
video {
  vertical-align: middle;
}

p {
  display: flex;
  align-items: baseline;
  grid-gap: 0.5em;
  line-height: var(--line-height-high);
  word-break: break-all;
}

pre {
  margin: 0;
}

// iOS における font-size: 16px; 未満のフォームパーツにフォーカスするとビューポートがスケーリングされる仕様対策
input,
textarea {
  font-size: 18px;
  [data-font-size="small"] & {
    font-size: 16px;
  }
  [data-font-size="medium"] & {
    font-size: 18px;
  }
  [data-font-size="large"] & {
    font-size: 20px;
  }
}
