*, * > * {
  line-height: 1;
}

:root {
  font-size: calc(0.375vmax + 10px);
}

body {
  --bg-color: 255, 255, 255;
  --fg-color: 32, 32, 32;
  --accent-color: 0, 112, 224;
  --notice-color: 240, 32, 32;

  background-color: rgb(var(--bg-color));
  color: rgb(var(--fg-color));
  font-feature-settings: "palt";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  @include scroll-bar();
}

::selection {
  background-color: rgba(var(--accent-color), 0.25);
}

@media (prefers-color-scheme: d2ark) {
  body {
    --bg-color: 16, 16, 16;
    --fg-color: 192, 192, 192;
    --accent-color: 0, 192, 255;
    --notice-color: 240, 32, 32;
  }
}

img {
  vertical-align: middle;
}

pre {
  margin: 0;
}
