*, * > * {
  line-height: 1;
}

body {
  background-attachment: fixed;
  background-color: rgb(var(--bg-color));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(var(--fg-color));
  font-feature-settings: "palt";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  @include scroll-bar();
}

::selection {
  background-color: rgba(var(--accent-color), 0.5);
}

img {
  vertical-align: middle;
}

pre {
  margin: 0;
}
