@import "@/scss/fonts/inter";
@import "@/scss/fonts/noto-color-emoji";

:root {
  font-family:
    "Inter",
    "Noto Color Emoji",
    "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",

    // 以下、基本的にWeb版Twitterと等しくする
    "Segoe UI",
    Meiryo,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 15px;
  &[data-font-size="small"] {
    font-size: 13px;
  }
  &[data-font-size="medium"] {
    font-size: 15px;
  }
  &[data-font-size="large"] {
    font-size: 17px;
  }

  // 游ゴシック対策
  font-weight: 500;
}

// iOS における font-size: 16px; 未満のフォームパーツにフォーカスするとビューポートがスケーリングされる仕様対策
input,
textarea {
  font-size: 18px;
  [data-font-size="small"] & {
    font-size: 16px;
  }
  [data-font-size="medium"] & {
    font-size: 18px;
  }
  [data-font-size="large"] & {
    font-size: 20px;
  }
}
