@import "@/scss/fonts/inter";

:root {
  // 基本的に Web 版 Twitter と等しくする
  font-family:
    "Inter",
    "Segoe UI",
    Meiryo,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;

  font-size: 15px;
  &[data-font-size="small"] {
    font-size: 13px;
  }
  &[data-font-size="medium"] {
    font-size: 15px;
  }
  &[data-font-size="large"] {
    font-size: 17px;
  }
}

// iOS における font-size: 16px; 未満のフォームパーツにフォーカスするとビューポートがスケーリングされる仕様対策
input,
textarea {
  font-size: 18px;
  [data-font-size="small"] & {
    font-size: 16px;
  }
  [data-font-size="medium"] & {
    font-size: 18px;
  }
  [data-font-size="large"] & {
    font-size: 20px;
  }
}
