:root {
  // Web 版 Twitter と極力等しくする
  font-family:
    "Segoe UI",
    Meiryo,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;

  font-size: 15px;
  &[data-font-size="small"] {
    font-size: 13px;
  }
  &[data-font-size="medium"] {
    font-size: 15px;
  }
  &[data-font-size="large"] {
    font-size: 17px;
  }
}

// iOS における font-size: 16px; 未満のフォームパーツにフォーカスするとビューポートがスケーリングされる仕様対策
input,
textarea {
  font-size: calc(0.125vmax + 16px);
  &::placeholder {
    font-size: calc(0.125vmax + 13px);
  }
}
