@mixin avatar-link ($size: 3rem) {
  cursor: pointer;
  display: block;
  height: $size;

  & > img {
    border-radius: $border-radius;
    object-fit: cover;
    min-width: $size;
    min-height: $size;
  }
}
