@mixin color-theme-light {
  --bg-color: 255, 255, 255;
  --fg-color: 32, 32, 32;
  --accent-color: 0, 160, 240;
  --notice-color: 240, 32, 32;
  --post-color: 0, 160, 240;
  --like-color: 240, 64, 128;
  --share-color: 0, 160, 32;
  --hot-color: 255, 0, 0;

  --border-radius: 2px;
}

@mixin color-theme-dark {
  --bg-color: 24, 24, 24;
  --fg-color: 224, 224, 224;
  --accent-color: 32, 160, 240;
  --notice-color: 240, 32, 32;
  --post-color: 32, 160, 240;
  --like-color: 240, 64, 128;
  --share-color: 32, 192, 64;
  --hot-color: 255, 0, 0;

  --border-radius: 2px;
}

@mixin color-theme-warmsand {
  --bg-color: 255, 240, 224;
  --fg-color: 56, 40, 24;
  --accent-color: 255, 96, 0;
  --notice-color: 240, 32, 32;
  --post-color: 0, 160, 240;
  --like-color: 240, 64, 128;
  --share-color: 0, 160, 32;
  --hot-color: 255, 0, 0;

  --border-radius: 2px;
}

@mixin color-theme-nightstars {
  --bg-color: 16, 32, 48;
  --fg-color: 192, 224, 255;
  --accent-color: 224, 224, 128;
  --notice-color: 240, 32, 32;
  --post-color: 32, 160, 240;
  --like-color: 240, 64, 128;
  --share-color: 32, 192, 64;
  --hot-color: 255, 0, 0;

  --border-radius: 2px;
}
