@mixin color-theme-light {
  color-scheme: light;
  --bg-color: 255, 255, 255;
  --fg-color: 16, 16, 16;
  --accent-color: 0, 128, 255;
  --notice-color: 240, 32, 32;
  --post-color: 0, 160, 240;
  --like-color: 240, 64, 128;
  --share-color: 0, 160, 32;
}

@mixin color-theme-light-gray {
  color-scheme: light;
  --bg-color: 224, 220, 216;
  --fg-color: 32, 32, 32;
  --accent-color: 0, 128, 255;
  --notice-color: 240, 32, 32;
  --post-color: 0, 160, 240;
  --like-color: 240, 64, 128;
  --share-color: 0, 160, 32;
}

@mixin color-theme-dark {
  color-scheme: dark;
  --bg-color: 16, 16, 16;
  --fg-color: 224, 224, 224;
  --accent-color: 0, 128, 255;
  --notice-color: 240, 32, 32;
  --post-color: 0, 160, 240;
  --like-color: 240, 64, 128;
  --share-color: 32, 192, 64;
}

@mixin color-theme-dark-gray {
  color-scheme: dark;
  --bg-color: 24, 28, 32;
  --fg-color: 224, 224, 224;
  --accent-color: 0, 128, 255;
  --notice-color: 240, 32, 32;
  --post-color: 0, 160, 240;
  --like-color: 240, 64, 128;
  --share-color: 32, 192, 64;
}
