@mixin color-theme-light {
  --bg-color: 255, 255, 255;
  --fg-color: 32, 32, 32;
  --accent-color: 0, 160, 240;
  --notice-color: 240, 32, 32;
  --like-color: 240, 64, 128;
  --share-color: 0, 160, 32;
}

@mixin color-theme-dark {
  --bg-color: 24, 24, 24;
  --fg-color: 224, 224, 224;
  --accent-color: 32, 160, 240;
  --notice-color: 240, 32, 32;
  --like-color: 240, 64, 128;
  --share-color: 32, 192, 64;
}

@mixin color-theme-warmsand {
  --bg-color: 240, 224, 192;
  --fg-color: 64, 48, 32;
  --accent-color: 240, 64, 128;
  --notice-color: 240, 32, 32;
  --like-color: 240, 64, 128;
  --share-color: 0, 160, 32;
}
