@mixin color-theme-light {
  --bg-color: 255, 255, 255;
  --fg-color: 32, 32, 32;
  --accent-color: 0, 128, 255;
  --notice-color: 240, 32, 32;
  --post-color: 0, 160, 240;
  --like-color: 240, 64, 128;
  --share-color: 0, 160, 32;
  --hot-color: 255, 0, 0;

  --border-radius: 1px;
}

@mixin color-theme-light-gray {
  --bg-color: 224, 224, 224;
  --fg-color: 32, 32, 32;
  --accent-color: 0, 128, 255;
  --notice-color: 240, 32, 32;
  --post-color: 0, 160, 240;
  --like-color: 240, 64, 128;
  --share-color: 0, 160, 32;
  --hot-color: 255, 0, 0;

  --border-radius: 1px;
}

@mixin color-theme-dark {
  --bg-color: 0, 0, 0;
  --fg-color: 224, 224, 224;
  --accent-color: 0, 128, 255;
  --notice-color: 240, 32, 32;
  --post-color: 32, 160, 240;
  --like-color: 240, 64, 128;
  --share-color: 32, 192, 64;
  --hot-color: 255, 0, 0;

  --border-radius: 1px;
}

@mixin color-theme-dark-gray {
  --bg-color: 32, 32, 32;
  --fg-color: 224, 224, 224;
  --accent-color: 0, 128, 255;
  --notice-color: 240, 32, 32;
  --post-color: 32, 160, 240;
  --like-color: 240, 64, 128;
  --share-color: 32, 192, 64;
  --hot-color: 255, 0, 0;

  --border-radius: 1px;
}

@mixin color-theme-warm {
  --bg-color: 255, 240, 224;
  --fg-color: 56, 40, 24;
  --accent-color: 255, 96, 0;
  --notice-color: 240, 32, 32;
  --post-color: 0, 160, 240;
  --like-color: 240, 64, 128;
  --share-color: 0, 160, 32;
  --hot-color: 255, 0, 0;

  --border-radius: 1px;
}

@mixin color-theme-pink {
  --bg-color: 255, 224, 240;
  --fg-color: 0, 48, 96;
  --accent-color: 64, 128, 255;
  --notice-color: 255, 32, 32;
  --post-color: 0, 160, 224;
  --like-color: 240, 64, 128;
  --share-color: 32, 160, 64;
  --hot-color: 255, 0, 0;

  --border-radius: 1px;
}

@mixin color-theme-red {
  --bg-color: 128, 0, 0;
  --fg-color: 240, 224, 224;
  --accent-color: 240, 240, 128;
  --notice-color: 255, 64, 64;
  --post-color: 32, 192, 240;
  --like-color: 240, 64, 128;
  --share-color: 0, 192, 32;
  --hot-color: 255, 0, 0;

  --border-radius: 1px;
}

@mixin color-theme-green {
  --bg-color: 24, 80, 24;
  --fg-color: 224, 240, 224;
  --accent-color: 96, 192, 96;
  --notice-color: 240, 64, 64;
  --post-color: 0, 192, 240;
  --like-color: 240, 64, 128;
  --share-color: 32, 192, 64;
  --hot-color: 255, 32, 32;

  --border-radius: 1px;
}

@mixin color-theme-blue {
  --bg-color: 0, 0, 192;
  --fg-color: 224, 224, 240;
  --accent-color: 240, 64, 240;
  --notice-color: 240, 32, 32;
  --post-color: 0, 192, 240;
  --like-color: 240, 64, 128;
  --share-color: 32, 224, 64;
  --hot-color: 255, 0, 0;

  --border-radius: 1px;
}

@mixin color-theme-indigo {
  --bg-color: 16, 32, 48;
  --fg-color: 192, 224, 255;
  --accent-color: 224, 224, 128;
  --notice-color: 240, 32, 32;
  --post-color: 32, 160, 240;
  --like-color: 240, 64, 128;
  --share-color: 32, 192, 64;
  --hot-color: 255, 0, 0;

  --border-radius: 1px;
}
