$max-width: 1192px;
$max-width-with-scrollbar: 1222px;
$menu-max-width: 276px;
$main-menu-min-width: 4rem;
$router-view-width: 640px;
$sp-width: 512px;

// SPレイアウト
@mixin media-sp-layout () {
  @media not all and (min-width: $sp-width) {
    @content;
  }
}

// 非SPレイアウト
@mixin media-not-sp-layout () {
  @media (min-width: $sp-width) {
    @content;
  }
}

// タブレットレイアウト
@mixin media-tablet-layout () {
  @media (max-width: $max-width-with-scrollbar) {
    @content;
  }
}

// サブメニュー非表示レイアウト
@mixin media-hide-sub-menu-layout () {
  @media not all and (min-width: 1024px) {
    @content;
  }
}

// サブメニュー表示レイアウト
@mixin media-show-sub-menu-layout () {
  @media (min-width: 1024px) {
    @content;
  }
}

// フルレイアウト
@mixin media-full-layout () {
  @media not all and (max-width: $max-width-with-scrollbar) {
    @content;
  }
}
