@mixin scroll-bar ($type: "transparent") {
  $bgColor: transparent;
  @if $type == "fgColor" {
    $bgColor: rgb(var(--fg-color), 0.0625);
  }

  // 幅は変更しない
  // --scrollbar-width: thin;
  // --scrollbar-width-legacy: 1rem;

  @supports (scrollbar-width: auto) {
    & {
      scrollbar-color: rgb(var(--fg-color), 0.25) $bgColor;

      // 幅は変更しない
      // scrollbar-width: var(--scrollbar-width);
    }
  }

  @supports selector(::-webkit-scrollbar) {
    // 幅は変更しない
    // &::-webkit-scrollbar {
    //   max-width: var(--scrollbar-width-legacy);
    //   max-height: var(--scrollbar-width-legacy);
    // }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(var(--fg-color), 0.25);
    }
    &::-webkit-scrollbar-track {
      background-color: $bgColor;
    }
  }
}
